<div id="footer" class="block">
    <div class="row">
        <div class="col-xs-6">
            <span>© 2016 .... All rights reserved.</span>
        </div>
        <div class="col-xs-6 social">
            <ul>
                <li>
                    <a href="...">
                        <span>Github</span>
                    </a>
                </li>
                <li>
                    <a href="...">
                        <span>Linkedin</span>
                    </a>
                </li>
                <li>
                    <a href="...">
                        <span>Email</span>
                    </a>
                </li>
                <li>
                    <a href="...">
                        <span>Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
